<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lvgo.weboctopus.doubanmovie.mapper.CommentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.lvgo.weboctopus.doubanmovie.bean.Comment">
        <id column="id" property="id"/>
        <result column="movie_id" property="movieId"/>
        <result column="comment_people" property="commentPeople"/>
        <result column="comment" property="comment"/>
        <result column="comment_date" property="commentDate"/>
        <result column="comment_rating" property="commentRating"/>
        <result column="source" property="source"/>
        <result column="data_time" property="dataTime"/>
    </resultMap>

</mapper>
